* {
      margin: 0;
      padding: 0;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #99948d;
}

.container {
  overflow: hidden;
  background: #171715;
  cursor: ew-resize;
  white-space: nowrap;
  padding: 10vh 0;
}

.title {
  font-family: "Canopee", sans-serif;
  font-size: 12vw;
  position: relative;
  color: #99948d;
  display: inline-block;
  margin: 0;
  padding: 0 15%;
  will-change: transform;
}